body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 15px;
}

.status {
    margin-bottom: 10px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.game {
    transform: scale(2);
    transform-origin: 0 0;
    display: flex;
    flex-direction: column;
}

.game-board {
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
}

.game-info {
    margin-left: 20px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.square:hover {
    cursor: pointer;
    background: #efefef;
}

.square.selected {
    background-color: #ffbfc8;
}

.square.selected:hover {
    background-color: #ffa9a9;
}

.square.winning, .square.winning:hover {
    background-color: #b7ffbe;
}

.kbd-navigation .square:focus {
    background: #ddd;
}


